<!--
including header content which is common for all pages
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<%- include ../layouts/header.ejs %>	

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/users/add" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Name</td>
			<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
		</tr>
		<tr> 
			<td>Age</td>
			<td><input type="text" name="age" value="<%= age %>" /></td>
		</tr>
		<tr> 
			<td>Email</td>
			<td><input type="text" name="email" value="<%= email %>" /></td>
		</tr>
		<tr> 
			<td></td>
			<td><button type="submit" class="btn btn-success">Add</button></td>
		</tr>
	</table>
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
